langgraph

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-groq

crewai

chromadb

sentence-transformers==2.6.1

transformers==4.38.2
huggingface-hub==0.21.4

torch

fastapi==0.110.0
uvicorn==0.29.0

streamlit==1.32.0

python-dotenv

pypdf
docx2txt
python-pptx
openpyxl

youtube-transcript-api

beautifulsoup4

requests

tiktoken
